body{
	font-family:"proxima-nova", Helvetica Neue, Verdana, Geneva, sans-serif;
	margin:0;
	color:#000;
	overflow-x:hidden;
}

.wrapper{
	margin:auto;
}

.spacer{
	clear:both;
}

a{
	text-decoration:none;
	color:#ED1C24;
}

a:hover{
	text-decoration:underline;
}

header{
	background:#ED1C24;
	color:#FFF;
	opacity:0.98;
	height:5em;
	position:fixed;
	z-index:2;
	width:100%;
	overflow:hidden;
}

#logo_container{
	float:left;
}

#logo_container a{
	display:inline-block;
}

#logo{
	width:3em;
	height:5em;
	padding:0 1em;
}

#logo .logo_shape{
	fill:#FFF;
}

/*#logo:hover .logo_shape{
	fill:#FC0;
}*/

#app_name, #user_name, #signout_button{
	float:right;
	line-height:5em;
	padding:0 1em;
	font-weight:600;
}

/*#user_name{
	
}

#signout_button{
	
}*/

main{
	
}

#homepage{
	padding-top:5em;
	text-align:center;
	position:relative;
	overflow:hidden;
	max-height:35em;
}

#homepage_hero{
	/**/
}

#homepage_hero img{
	width:100%;
	height:auto;
	display:block;
}

#homepage_action{
	height:100%;
	position:absolute;
	width:100%;
	top:5em;
	left:0;
}

#homepage_intro{
	font-size:120%;
	margin:0;
	color:#FFF;
	padding-top:15em;
}

#homepage_signin_button{
	display:inline-block;
	text-decoration:none;
	padding:1em;
	color:#ED1C24;
	text-transform:uppercase;
	margin:5em 0 10em 0;
	border:1px solid #ED1C24;
}

#homepage_signin_button:hover{
	background:#ED1C24;
	color:#FFF;
}

footer{
	background:#555;
	color:#A1A1A1;
}

footer a{
	color:#FCC;
	text-decoration:none;
}

footer a:hover{
	color:#FAA;
}

#copyright{
	padding:2em 0;
	font-size:80%;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
}