/*Very wide displays*/
@media only screen and (min-width:1200px){
    
}

/*Wide displays*/
@media only screen and (min-width:981px){
    
}

/*Medium-sized displays. For example tablets in Landscape Mode*/
@media only screen and (min-width:641px) and (max-width:980px){
    
}

/* Tablets in Portrait Mode*/
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait){
    
}

/*Small displays. For example phones*/
@media only screen and (max-width:640px){
    #user_name{
        text-align:center;
    }
    
    #dashboard .wrapper{
    	width:none;
    	-webkit-flex:1;
    	-moz-flex:1;
    	flex:1;
    }
    
    #side_pane{
    	width:none;
    	-webkit-flex:1;
    	-moz-flex:1;
    	flex:1;
    }
    
    #side_pane_header{
    	-moz-border-radius:10px 10px 0 0;
    	-webkit-border-radius:10px 10px 0 0;
    	-o-border-radius:10px 10px 0 0;
    	border-radius:10px 10px 0 0;
    }
    
    #chat_container{
    	-moz-border-radius:0 0 10px 10px;
    	-webkit-border-radius:0 0 10px 10px;
    	-o-border-radius:0 0 10px 10px;
    	border-radius:0 0 10px 10px;
    }
    
    #main_pane{
    	display:none;
    }
}